@font-face {
    font-family: 'Ricardpolice';
    src: url("fonts/Ricardpolice.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ricardpolice",sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #ffd300;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #003b79;
}

.about, .products, .contact {
    margin-top: 30px;
}

h2 {
    color: #003b79;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
